services:
  filerise:
    image: error311/filerise-docker:latest
    container_name: filerise
    networks:
      - proxy_net
    restart: ${RESTART_POLICY}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - PERSISTENT_TOKENS_KEY=${PERSISTENT_TOKENS_KEY}
    volumes:
      - ${HMSD_MOUNT_PATH}:/var/www/uploads
      - ${HMSD_APPS_PATH}/filerise/users:/var/www/users
      - ${HMSD_APPS_PATH}/filerise/metadata:/var/www/metadata
    {% if hmsdocker_traefik_enabled_filerise or hmsdocker_homepage_enabled_filerise or hmsdocker_container_enabled_dockpeek %}
    labels:
      {% if hmsdocker_container_enabled_dockpeek %}
      - dockpeek.link=http://{{ hms_docker_container_map['filerise']['proxy_host_rule'] | default('rise') }}.${HMSD_DOMAIN}
      - dockpeek.ports=80
      - dockpeek.tags=utilities,file-manager
      {% endif %}
      {% if hmsdocker_traefik_enabled_filerise %}
      - traefik.enable=true
      - traefik.http.services.filerise-${COMPOSE_PROJECT}.loadbalancer.server.port=3000
      - traefik.http.routers.filerise-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['filerise']['proxy_host_rule'] | default('rise') }}.${HMSD_DOMAIN}`)
        {% if not hmsdocker_expose_public_enabled_filerise %}
      - traefik.http.routers.filerise-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
        {% endif %}
        {% if hmsdocker_authentik_enabled_filerise %}
      - traefik.http.routers.filerise-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-filerise-midware@docker
        {% endif %}
      {% endif %}
      {% if hmsdocker_homepage_enabled_filerise %}
      - homepage.group=Utilities
      - homepage.name=Filerise
      - homepage.icon=sh-filerise-light.png
      - homepage.href=http://{{ hms_docker_container_map['filerise']['proxy_host_rule'] | default('rise') }}.${HMSD_DOMAIN}
      - homepage.description=Photo/File Manager
      {% endif %}
    {% endif %}
