services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    user: "${PUID}:${PGID}"
    environment:
      - TZ=${TIMEZONE}
      - N8N_HOST={{ hms_docker_container_map['n8n']['proxy_host_rule'] | default('n8n') }}.${HMSD_DOMAIN}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - WEBHOOK_URL=https://{{ hms_docker_container_map['n8n']['proxy_host_rule'] | default('n8n') }}.${HMSD_DOMAIN}/
      - GENERIC_TIMEZONE=${TIMEZONE}
      - N8N_SECURE_COOKIE=false
      - N8N_METRICS=true
    {% if hmsdocker_traefik_enabled_n8n or hmsdocker_homepage_enabled_n8n %}
    labels:
      {% if hmsdocker_traefik_enabled_n8n %}
      - traefik.enable=true
      - traefik.http.services.n8n-${COMPOSE_PROJECT}.loadbalancer.server.port=5678
      - traefik.http.routers.n8n-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['n8n']['proxy_host_rule'] | default('n8n') }}.${HMSD_DOMAIN}`)
        {% if not hmsdocker_expose_public_enabled_n8n %}
      - traefik.http.routers.n8n-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
        {% endif %}
        {% if hmsdocker_authentik_enabled_n8n %}
      - traefik.http.routers.n8n-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-n8n-midware@docker
        {% endif %}
      {% endif %}
      {% if hmsdocker_homepage_enabled_n8n %}
      - homepage.group=Automation
      - homepage.name=n8n
      - homepage.icon=n8n.png
      - homepage.href=http://{{ hms_docker_container_map['n8n']['proxy_host_rule'] | default('n8n') }}.${HMSD_DOMAIN}
      - homepage.description=Workflow Automation
        {% if hmsdocker_homepage_stats_enabled_n8n %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
    volumes:
      - ${HMSD_APPS_PATH}/n8n/data:/home/node/.n8n
      - ${HMSD_APPS_PATH}/n8n/files:/files
    {% if hmsdocker_expose_ports_enabled_n8n %}
    ports:
      - 5678:5678
    {% endif %}