services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    {% if hmsdocker_container_enabled_socketproxy | default(false) and socketproxy_expose_events | default(false) and socketproxy_expose_info | default(false) %}
    command: -H tcp://socketproxy:2375
    {% else %}
    command: -H unix:///var/run/docker.sock
    {% endif %}
    restart: ${RESTART_POLICY}
    logging:
      options:
        max-size: "12m"
        max-file: "5"
      driver: json-file
    networks:
      - proxy_net
    {% if hmsdocker_container_enabled_socketproxy | default(false) and socketproxy_expose_events | default(false) and socketproxy_expose_info | default(false) %}
    depends_on:
      - socketproxy
    {% endif %}
    {% if hmsdocker_expose_ports_enabled_portainer %}
    ports:
      - 9000:9000
    {% endif %}
    volumes:
    {% if not (hmsdocker_container_enabled_socketproxy | default(false) and socketproxy_expose_events | default(false) and socketproxy_expose_info | default(false)) %}
      - /var/run/docker.sock:/var/run/docker.sock
    {% endif %}
      - ${HMSD_APPS_PATH}/portainer/config:/data
    {% if hmsdocker_traefik_enabled_portainer or hmsdocker_homepage_enabled_portainer or hmsdocker_container_enabled_dockpeek %}
    labels:
      {% if hmsdocker_container_enabled_dockpeek %}
      - dockpeek.link=http://{{ hms_docker_container_map['portainer']['proxy_host_rule'] | default('portainer') }}.${HMSD_DOMAIN}
      - dockpeek.ports=9000
      - dockpeek.tags=docker-management,infrastructure
      {% endif %}
      {% if hmsdocker_traefik_enabled_portainer %}
      - traefik.enable=true
      - traefik.http.services.portainer-${COMPOSE_PROJECT}.loadbalancer.server.port=9443
      - traefik.http.services.portainer-${COMPOSE_PROJECT}.loadbalancer.server.scheme=https
      - traefik.http.routers.portainer-${COMPOSE_PROJECT}.rule=Host(`{{ hms_docker_container_map['portainer']['proxy_host_rule'] | default('portainer') }}.${HMSD_DOMAIN}`)
        {% if not hmsdocker_expose_public_enabled_portainer %}
      - traefik.http.routers.portainer-${COMPOSE_PROJECT}.middlewares=internal-ipallowlist@file
        {% endif %}
        {% if hmsdocker_authentik_enabled_portainer %}
      - traefik.http.routers.portainer-${COMPOSE_PROJECT}.middlewares=authentik-proxy-${COMPOSE_PROJECT}-portainer-midware@docker
        {% endif %}
      {% endif %}
      {% if hmsdocker_homepage_enabled_portainer %}
      - homepage.group=Infrastructure
      - homepage.name=Portainer
      - homepage.icon=portainer.png
      - homepage.href=http://{{ hms_docker_container_map['portainer']['proxy_host_rule'] | default('portainer') }}.${HMSD_DOMAIN}
      - homepage.description=Container Management
      - homepage.widget.type=portainer
      - homepage.widget.url=http://portainer:9000
      - homepage.widget.env={{ homepage_portainer_env_id | default(1) }}
      - homepage.widget.key=${PORTAINER_KEY:-apikeyapikeyapikey}
        {% if hmsdocker_homepage_stats_enabled_portainer %}
      - homepage.showStats=true
        {% endif %}
      {% endif %}
    {% endif %}
