http:
    middlewares:
        internal-ipallowlist:
            ipAllowList:
                sourceRange:
                    - "127.0.0.1/32"
                {% for address in traefik_subnet_allow_list | split(', ') %}
                    - "{{ address }}"
                {% endfor %}
        external-ipallowlist:
            ipAllowList:
                sourceRange:
                    - "0.0.0.0/0"
        large-upload:
            buffering:
                maxRequestBodyBytes: 0  # 0 = unlimited
                memRequestBodyBytes: 2097152  # 2MB in memory buffer
                maxResponseBodyBytes: 0  # 0 = unlimited
                memResponseBodyBytes: 2097152  # 2MB in memory buffer
                retryExpression: "IsNetworkError() && Attempts() <= 2"
